<div class="{{CSS_PREFIX}}weekday-border"
    style="
    border-top: {{styles.borderTop}};
"></div>
<div class="{{CSS_PREFIX}}weekday-grid">
{{#each dates ~}}
    <div class="{{CSS_PREFIX}}weekday-grid-line {{holiday day}}{{#fi date '!==' 1}} {{CSS_PREFIX}}near-month-day{{/fi}}{{#if isToday}} {{CSS_PREFIX}}today{{/if}}{{#if isOtherMonth}} {{CSS_PREFIX}}extra-date{{/if}}"
        style="width:{{width}}%; left:{{left}}%; background-color: {{backgroundColor}}; font-size: {{@root.styles.fontSize}};
        {{#unless @last}}
        border-right:{{@root.styles.borderLeft}};
        {{/unless}}
        ">
        <div class="{{CSS_PREFIX}}weekday-grid-header">
            <span style="color: {{color}};">{{{getCustomTemplate @root.templateId 'monthGridHeader' this}}}</span>
            {{#if hiddenSchedules}}
                <span class="{{CSS_PREFIX}}weekday-exceed-in-month" data-ymd="{{ymd}}">{{{getCustomTemplate @root.templateId 'monthGridHeaderExceed' hiddenSchedules}}}</span>
            {{/if}}
        </div>
        <div class="{{CSS_PREFIX}}weekday-grid-footer">
            <span style="color: {{color}};">{{{getCustomTemplate @root.templateId 'monthGridFooter' this}}}</span>
            {{#if hiddenSchedules}}
                <span class="{{CSS_PREFIX}}weekday-exceed-in-month" data-ymd="{{ymd}}">{{{getCustomTemplate @root.templateId 'monthGridFooterExceed' hiddenSchedules}}}</span>
            {{/if}}
        </div>
    </div>
{{/each ~}}
</div>
<div class="{{CSS_PREFIX}}weekday-schedules"></div>
